.footer {
  padding: 60px 0;
  background: #003537;

  &__contacts-wrap {
    margin-bottom: 32px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  .footer-link {
    margin-bottom: 10px;
  }

  &__wrap {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.img-footer {
  grid-column: 1/-1;
  @media (min-width: $md) {
    grid-column: span 2;
  }
}
