.map-wrap {
  position: relative;
  aspect-ratio: 60/45;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;

  max-width: 600px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}
